# Secrets
.env
auth_config.yaml

# Data files (too large for GitHub)
tmdb_5000_movies.csv
tmdb_5000_credits.csv
embeddings.pkl
similarity.pkl

# Python
__pycache__/
*.pyc
venv/
*.egg-info/

# DB
*.db

# Jupyter
.ipynb_checkpoints/